-i https://pypi.org/simple
azure-functions==1.21.3
certifi==2024.12.14; python_version >= '3.6'
charset-normalizer==3.4.1; python_version >= '3.7'
idna==3.10; python_version >= '3.6'
pyjsend==0.2.2
requests==2.32.3; python_version >= '3.8'
urllib3==2.3.0; python_version >= '3.9'
